<%= image_tag 'paymill_credit_card.png', id: 'credit-card-image' %>
<% options_hash = Rails.env.production? ? {autocomplete: 'off'} : {} %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<%= hidden_field param_prefix, 'card_amount', value: (@order.total * 100).to_i, id: "card_amount", name: "" %>
<%= hidden_field param_prefix, 'card_currency', value: @order.currency, id: "card_currency", name: "" %>

<div id="paymill-container"></div>

<script>
  var PAYMILL_PUBLIC_KEY = '<%= payment_method.preferences[:public_key] %>';
  var PAYMILL_PAYMENT_METHOD_ID = '<%= payment_method.id %>';

  $(function() {
    new SpreePaymillHandler().init();
  });
</script>
