<%= image_tag 'credit_cards/credit_card.gif', id: 'credit-card-image' %>
<% options_hash = Rails.env.production? ? {autocomplete: 'off'} : {} %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<%= hidden_field param_prefix, 'card_amount', value: (@order.total * 100).to_i, id: "card_amount", name: "" %>
<%= hidden_field param_prefix, 'card_currency', value: @order.currency, id: "card_currency", name: "" %>

<p class="field" data-hook="card_holdername">
  <%= label_tag "card_holdername", Spree.t(:card_holdername) %><span class="required">*</span><br />
  <%= text_field_tag "#{param_prefix}[card_holdername]", '', options_hash.merge(id: 'card_holdername', class: 'required', id: "card_holdername", name: "", value: "", size: 19) %>
</p>
<p class="field" data-hook="card_number">
  <%= label_tag "card_number", Spree.t(:card_number) %><span class="required">*</span><br />
  <%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(id: 'card_number', class: 'required', name: "", size: 19, maxlength: 19, autocomplete: "off") %>
  &nbsp;
  <span id="card_type" style="display:none;">
    ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
      <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
    )
  </span>
</p>
<p class="field" data-hook="card_expiration">
  <%= label_tag "card_month", Spree.t(:expiration) %><span class="required">*</span><br />
  <%= select_month(Date.today, { prefix: param_prefix, field_name: 'month', use_month_numbers: true }, class: 'required', id: "card_month", name: "") %>
  <%= select_year(Date.today, { prefix: param_prefix, field_name: 'year', start_year: Date.today.year, end_year: Date.today.year + 15 }, class: 'required', id: "card_year", name: "") %>
</p>
<p class="field" data-hook="card_code">
  <%= label_tag "card_code", Spree.t(:card_code) %><span class="required">*</span><br />
  <%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(id: 'card_code', class: 'required', name: "", size: 5) %>
  <br>
  <%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), target: '_blank', "data-hook" => "cvv_link", id: "cvv_link" %>
</p>

<%= javascript_include_tag "//bridge.paymill.com/" %>
<script>
  var PAYMILL_PUBLIC_KEY = '<%= payment_method.preferences[:public_key] %>';
  var PAYMILL_PAYMENT_METHOD_ID = '<%= payment_method.id %>';
</script>
